# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# gen_poses
!gen_poses/
gen_poses/*
!gen_poses/CMakeLists.txt
!gen_poses/gen_poses.cpp
!gen_poses/balance_collision.cpp
!gen_poses/balance_collision.hpp

# convert_pose_formats
!convert_pose_formats/
convert_pose_formats/*
!convert_pose_formats/CMakeLists.txt
!convert_pose_formats/convert_pose_formats.cpp

# Datasets

