# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# gen_poses
!gen_poses/
gen_poses/*
!gen_poses/CMakeLists.txt
!gen_poses/gen_poses.cpp

# convert_pose_formats
!convert_poses/
convert_poses/*
!convert_poses/CMakeLists.txt
!convert_poses/convert_poses.cpp

# Datasets
!gen_poses/build/
gen_poses/build/*
!gen_poses/build/random20000anglebalance0.001000tolsafe.txt
