# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# gen_any_poses
!gen_any_poses/
gen_any_poses/*
!gen_any_poses/gen_poses.cpp

# gen_opt_poses
!gen_opt_poses/
gen_opt_poses/*
!gen_opt_poses/CMakeLists.txt
!gen_opt_poses/gen_opt_poses.cpp
